:root {
    --space-cadet:          #2B2D42;
    --cool-gray:            #8D99AE;
    --anti-flash-white:     #EDF2F4;
    --red-pantone:          #EF233C;
    --fire-engine-red:      #D90429;

    --magnolia:             #F7F0F5;
    --dun:                  #DECBB7;
    --battleship-gray:      #8F857D;
    --walnut-brown:         #5C5552;
    --van-dyke:             #433633;
}
