
@keyframes scale-up {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes fade-in-down {
    from {
        transform: translateY(-30px);
        opacity: 10%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}
